
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(106, 174, 230);
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
}
.time,
.counter,
.btn_start,
.btn_stop,
.btn_results,
.btn_save {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  background: #b1b3bb;
  margin: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.playing {
  
  width: 400px;
  height: 400px;
  border: 15px solid gold;
  border-radius: 5px;
background-color: aliceblue;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 auto;
}
.number {
  box-sizing: border-box;
 
  width: 100px;
  height: 100px;
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  background-color: #ffbf94;
  border: 2px solid rgb(26, 25, 22);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.field_size {
  display: flex;
  margin-top: 10px;
}
.size {
  display: flex;
  width: 60px;
  height: 30px;
 
  justify-content: center;
  align-items: center;
  background: #b1b3bb;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
